-r requirements.txt

# Style tools
flake8
flake8-isort

# Unit-testing
py>=1.4.29
pytest-django
pytest-xdist
pytest-cov
coveralls
parameterized
model_mommy
mock

# Docs
sphinx
sphinx-autobuild

# To test django-parler compatibility
django-parler==1.9.1

# To parse HTML in tests
beautifulsoup4==4.6.0
